.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#canvas
{
   height: 1000px;
   width: 1000px;

}
 


#bday_image {
align-content: center;
}